.flex-item {
    margin: 2px;
    border: solid green 3px;
}


.flex-container {
    border: solid red 3px;
    height: 500px;

    display: flex;
    flex-direction: row;
    /* justify-content: flex-end;
    align-items: center; */
    /* flex-wrap: wrap; */
}


/* .flex-item-2 {
    height: 100px;
    align-self: center;
}

.flex-item-1 {
    flex-basis: 10px;
    flex-shrink: 0;
}

.flex-item-3 {
    flex-grow: 1;
}
.flex-item-4 {
    flex-grow: 2;
} */