/* Combinators: */
/* 1)Descendent Combinator: */
/* it selects specific child in parent combinator */
body h1{
    color: yellowgreen;
}
body p{
    color:red;
}


/* 2)Child (or) Descendent Combinator: */
/* it selects all ol child in parent combinators. */
body>ol{
    color:rgb(115, 10, 160)
}
body>li{
    font-size: 23px;
}
body>ol>ol{
    color: aqua;
}

/* 3)Adjacent Combinator: 
it selects sibling combinator only works based on top-down methodology. */
h1+p{
    color: rgb(208, 13, 143);
}

/* 4)General (or) Far Sibling Combinator:
it selects only one sibling from anywhere. */
h1~li{
    color: rgb(217, 124, 10);
}

/* Grouping selector: */
body h1+p~ol>ol{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: chartreuse;
}